services:
  diaryapp:
    build: .
    container_name: rec-one
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      Storage__RootDirectory: /data/entries
    volumes:
      - ./data:/data/entries
      - ./keys:/root/.local/share/DiaryApp/keys
