<nav class="nav-menu">
    <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">Record</NavLink>
    <NavLink href="/entries" class="nav-link">Entries</NavLink>
    <NavLink href="/settings" class="nav-link">Settings</NavLink>
</nav>
